body {
    margin: 0;
    padding: 40px;
    font-family: 'Arial', sans-serif;
    background-color: #8e0000fe;
  }

  .header{
    background-color: #980207;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    font-size: 36px;
    color: #d1cfcf;
    font-family:'Times New Roman', Times, serif;
    box-shadow: 7px 8px 10px #4a0000 ;

  }

  .font-stock{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
  }
  
  .card {
    width: 280px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    box-shadow: 5px 6px 7px rgb(195, 0, 0);
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .image {
    position: relative;
    height: 200px;
    background: linear-gradient(to right, #ffffff, #f7f7f7);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 25px;
    opacity: 0.9;
  }
  
  .shoe {
    max-height: 300px;
    z-index: 5;
  }
  
  .info {
    padding: 20px;
    text-align: center;
  }
  
  .info h4 {
    margin: 0;
    color: gray;
    font-size: 14px;
    letter-spacing: 1px;
  }
  
  .info h2 {
    margin: 10px 0;
    font-size: 18px;
    color: #222;
  }
  
  .price {
    font-size: 16px;
    color: #980207;
    margin-bottom: 10px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    background-color: #222;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .btn.red { 
    background-color: #841111;
  }