/* Стили для навигации */
nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px 0;
  background-color: #900000;
  flex-wrap: wrap;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  background: transparent;
  border: 2px solid #900000;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
}

nav a:hover {
  background-color: #730200;
  color: #ffffff;
  box-shadow: 0 0 10px #e5393577;
}

nav a.active {
  background-color: #a60000;
  color: #ffffff;
  box-shadow: 0 0 10px #e5393577;


}.contacts-section {
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #740000;
  min-height: 100vh;
}

.contacts-section h1 {
  font-size: 42px;
  margin-bottom: 10px;
  color: #ffffff;
  letter-spacing: 1px;
}

.contacts-section p {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
  max-width: 600px;
}

.contact-info {
  background: #9f0000;
  padding: 30px;
  border-radius: 15px;
  margin-bottom: 40px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 20px rgba(80, 0, 0, 0.692);
}

.contact-info p {
  margin: 10px 0;
  color: #f1f1f1;
  font-size: 16px;
}

.contact-form {
  width: 100%;
  max-width: 500px;
  background: #9f0000;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(102, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: fadeIn 1s ease-in-out;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  background-color: #ffffff;
  border: 3px solid #710000;
  border-radius: 8px;
  font-size: 16px;
  color: #ffffff;
  transition: 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #a30300;
  outline: none;
  box-shadow: 0 0 10px #e5393555;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #1e0000;
}

.contact-form button {
  padding: 15px;
  background: linear-gradient(135deg, #b71c1c, #e53935);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background: linear-gradient(135deg, #a31616, #8a0000);
  box-shadow: 0 0 15px #e5393577;
}

/* Анимация */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}